body{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    height:100vh;
    overflow:hidden;
}

#game{
    box-shadow: black 10px 10px 30px;
}

#game_interface{
    color:white;
}

#game_pause{
    color:white;
}

.interface{
    background-color:rgb(0, 0, 0);
    color:white;
    width: 400px;
    height:400px;
    box-shadow: black 10px 10px 30px;
}
.hide{
    display:none;
}